.sm-col-1 { width: 8.33%; }
.sm-col-2 { width: 16.66%; }
.sm-col-3 { width: 25%;}
.sm-col-4 { width: 33.33%;}
.sm-col-5 { width: 41.66%;}
.sm-col-6 { width: 50%;}
.sm-col-7 { width: 58.33%;}
.sm-col-8 { width: 66.66%;}
.sm-col-9 { width: 75%;}
.sm-col-10 { width: 83.33%;}
.sm-col-11 { width: 91.66%;}
.sm-col-12 { width: 100%; }


body{
    background: rgb(255, 252, 246);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(138, 136, 136);
}


/* header */
.conteneur1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.nav_user img{
    position: relative;
    width: 20px;
    margin-right: 3px;
    top: 3px;
}

.nav_user ul{
    display: flex;
    justify-content: flex-end;
}

.nav_user li{
    list-style-type: none;
    display: inline;
    list-style: none;
    font-weight: 700;
    margin-right: 20px;
}


.nav_user .favoris{
    color: #0e71b4;
    margin-top: -6px;
}


.nav_user .mon_compte a{
    color: #779b00;
}


.logo_header{
    width: 20%;
}

.logo_header img{
    width: 70%;
    margin: 10px;
}



/* menu burger */   

.row{
    display: flex;
    flex-wrap: wrap;
}

.hamburger {
    position: absolute;
    top: 60px;
    left: 12px;
    width: 40px;
    padding: 0 4px 8px 4px;
}

.hamburger span{
    display: block;/* passer le span en block étant donné qu'il était inline*/
    height: 8px;
    border-bottom: 3px solid white;
}


.menu_header{
    display: none; /* possibilité de remplacer par un transform: translate pour un effet vague */
    width: 100%;
    z-index: 2000;
}


#menu:target{       /* le target est une ancre qui cible le menu dans le html < nav id="menu" class="menu_header"> qui sert à l'ouvrir en allant demander au <a href="#menu"></a>*/
    display: block;
}

.menu_header ul{
    margin-top: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    left: -1vw;
}

.menu_header li{               /* Pour annuler le display: inline-block afin que le menu repasse à la verticale */
    display: block;
    font-weight: bold;
}

.menu_header li:first-child{
    display: block;
}

.menu_header ul li{
    margin: 0;
    background-color: white;
    text-align: center;
    line-height: 1em;
    border-right: none;
    border-bottom: 1px solid #0e71b4;
}

.menu_header ul li:hover{
    background: #96bf0d;
    transition: all 1.2s ease-out;
}

.menu_header li a{
    display: block;
    padding: 1em 2em;
}

.menu_header li a:hover{
    color: white;
}

.menu_header ul li:last-child{
    border-bottom: none;
}

.menu_header ul li:first-child{ /* pour mettre la croix au centre */
    text-align: center;
}

.menu_header ul a{
    text-decoration: none;
    color: #0e71b4;
}
/* Fin du menu burger */


/* .menu_header{
    text-align: center;
    border-top: 1px solid #96bf0d;
}

.menu_header li:first-child{
    display: none;
}

.menu_header li{
    margin: 3em;
    list-style-type: none;
    display: inline;
    list-style: none;
    font-weight: bold;
    color: rgb(104, 104, 104);
}

.menu_header .agence_vert a{
    color: #96bf0d;
} */

/* fin du header */ 


/* Début section */

/* Bloc recherche */

.conteneur2{
    height: 110.5vh;
    background-image: url("../images/img_accueil_flou.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10em;
}


.conteneur2 img{
    width: 100%;
}


.bloc{
    display: flex;
    background: rgb(225, 225, 252);
    justify-content: space-around;
    border-radius: 0.5em 0.5em 0 0;
} 


.bloc p{
    font-size: 1.5em;
    height: 10px;
    line-height: 10px;
    width: 32%;
}

.bloc #vert{
    color: #96bf0d;
    background: #96bf0d;
    border-radius: 0 0.5em 0 0;
    width: 36%;
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
}


.bloc #vert:hover{
    color: rgb(56, 211, 190);
    background: rgb(56, 211, 190);
    border-radius: 0 0.5em 0 0;
    width: 36%;
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
}

.estimer_vert{
    color: white;
}

.bloc #vert p{
    width: 100%;
    text-align: center;
}

.bloc h1{
    text-align: center;
}


.bloc_search{
    width: 90%;
    height: 16em;
    position: relative;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    top: 25vh;
}


.bloc_search p{
    text-align: center;
    font-weight: bold;
    color: rgb(138, 136, 136);
}


.bloc_search #adresse_bien{
    display: block;
    width: 80%;
    margin-bottom: -4em;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 1px solid rgb(184, 184, 184);
    transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
}


#adresse_bien:hover{
    background: rgb(238, 238, 238);
    transition: background-color 700ms ease-in-out;
    -webkit-transition: background-color 700ms ease-in-out;
    -moz-transition: background-color 700ms ease-in-out;
    -o-transition: background-color 700ms ease-in-out;
}

#cadre_estimer{
    display: flex;
    margin-top: 4.5em;
}


#cadre_estimer img{
    width: 10%;
    margin-right: 2px;
    margin-top: 5px;
}

#cadre_estimer #cle{
    width: 5%;
    height: 10%;
    margin-right: 2px;
    margin-left: 10px;
    margin-top: 5px;
}


#cadre_estimer #estimer{
    background: rgb(56, 211, 190);
    width: 45%;
    height: 40px;
    margin-left: 2.1em;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    border: none;
}

#cadre_estimer #loyer{
    background: none;
    width: 35%;
    border: none;
    font-weight: bold;
    color: rgb(138, 136, 136);
    transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    border-radius: 25px;
}


#cadre_estimer #loyer:hover{
    background: rgb(56, 211, 190);
    border-radius: 25px;
    color: white;
    transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
}


.mains{
    display: flex;
}


.mains img{
    position: relative;
    width: 13%;
    height: 11%;
    top: 2px;
    margin-left: -0.7em;
    margin-right: 8px;
    color: white;
}


.votre_bien{
    position: relative;
    width: 35%;
    height: 17%;
    top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: center;
    border-radius: 0.6em;
    background: #96bf0d;
    line-height: 42px;
    font-size: 1em;
    border-radius: 0.6em;
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
}

.votre_bien h1{
    margin-bottom: 50px;
    text-decoration: white;
    color: white;
}


.bloc_search h1 a{
    color: white;
}


.votre_bien:hover{
    background: rgb(56, 211, 190);
    border-radius: 0.6em;
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
}


.conteneur3{
    display: flex;
    flex-direction: column;
    margin-top: 29vh;
}

.conteneur3 .video img{
    width: 15%;
    height: 60%;
    margin-top: 8px;
    margin-left: 1.8em;
    margin-right: 5px;
}


.conteneur3 .bien img{
    width: 15%;
    height: 60%;
    margin-top: 8px;
    margin-left: 5em;
    margin-right: 8px;
}


.conteneur3 .alerte_mail img{
    width: 10%;
    height: 50%;
    margin-top: 10px;
    margin-left: 4.8em;
    margin-right: 7px;
}


.conteneur3 .video, .bien, .alerte_mail{
    display: flex;
    width: 60%;
    height: 5.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    font-size: 0.6em;
    text-align: center;
    line-height: 30px;
    color: rgb(104, 104, 104);
}


/* annonce 1*/

.conteneur4{
    border: 0.5px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    background:  rgb(104, 104, 104);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5em;
    margin-bottom: 10em;
}


.conteneur4 .img_maison img{
    display: none;
}

.conteneur4 .prix_immo {
    display: flex;
    position: relative;
    top: -3.7em;
    height: 0;
}

.conteneur4 .prix_immo .prix{
    width: 40%;
    height: 5.8vh;
    line-height: 1.8em;
    background: white;
    margin-top: 0.58em;
    margin-left: 0.4px;
    text-align: center;
    font-size: 1.6em;
    color: rgb(138, 136, 136);
}

.arrow-right {
    position: relative;
    width: 0;
    height: 0;
    top: 1.3em;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid white;
}

.conteneur4 .prix_immo .euros{
    background: #96bf0d;
    color: white;
    margin-left: -0.8em;
    margin-top: 0.58em;
    width: 100%;
    height: 6.7vh;
    line-height: 1.8em;
    text-align: center;
    border-left: 1px solid white;
    font-size: 1.6em;
}


.trait{
    position: relative;
    display: inline-block;
    top: 20px;
    border-left: 2px solid rgb(104, 104, 104);
    height: 70%;
}

.band_blanche{
    padding-left: 15px;
    background: white;
    width: 96%;
    height: 8em;
}

.text_gris1{
    position: relative;
    background: white;
    top: -1.5vh;
    margin-left: 15px;
    font-style: italic;
    font-size: 1.3em;
    color: rgb(104, 104, 104);
    font-weight: bold;
}

.text_vert1{
    position: relative;
    top: -4.5vh;
    margin-left: 15px;
    font-size: 1.1em;
    color: #96bf0d;
}

.fond_gris{
    margin-left: 10px;
    color: white;
    font-size: 15px;
}

.band_selection1{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 6vh;
    background:#96bf0d;
    color: white;
    line-height: 0.7em;
}

.band_selection1 p{
    width: 23%;
    line-height: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

/* fin annonce 1 */


/* annonce 2 */
.conteneur5{
    border: 0.5px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    background:  rgb(104, 104, 104);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5em;
    margin-bottom: 5em;
}


.conteneur5 .img_maison img{
    display: none;
}

.conteneur5 .prix_immo {
    display: flex;
    position: relative;
    top: -3.7em;
    height: 0;
}

.conteneur5 .prix_immo .prix{
    width: 40%;
    height: 5.8vh;
    line-height: 1.8em;
    background: white;
    margin-top: 0.58em;
    margin-left: 0.4px;
    text-align: center;
    font-size: 1.6em;
    color: rgb(138, 136, 136);
}

.arrow-right {
    position: relative;
    width: 0;
    height: 0;
    top: 1.3em;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid white;
}

.conteneur5 .prix_immo .euros{
    background: #96bf0d;
    color: white;
    margin-left: -0.8em;
    margin-top: 0.58em;
    width: 100%;
    height: 6.7vh;
    line-height: 1.8em;
    text-align: center;
    border-left: 1px solid white;
    font-size: 1.6em;
}

.text_gris2{
    position: relative;
    background: white;
    top: -3.5vh;
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
    font-size: 1.3em;
    color: rgb(104, 104, 104);
    font-weight: bold;
}

.text_vert2{
    position: relative;
    top: -6.5vh;
    margin-left: 15px;
    font-size: 1.1em;
    color: #96bf0d;
}

.band_selection2{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 6vh;
    background:#96bf0d;
    color: white;
    line-height: 0.7em;
}

.band_selection2 p{
    width: 23%;
    line-height: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}


/* fin annonce 2*/
/*----------------*/

/* Footer */

footer{
    background: rgb(75, 75, 75);
    height: 100%;
}


.conteneur6{
    display: flex;
    flex-direction: column;
}


.conteneur6 .logo_footer{
    width: 80%;
    margin-left: 0;
}

.conteneur6 .logo_footer img{
    width: 45%;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 3em;
}


.conteneur6 .par1{
    width: 41%;
    margin-top: 2.5em;
}


.conteneur6 .par2{
    width: 59%;
    margin-top: -15em;
    margin-left: 15em;
    margin-bottom: 3em;
}


.conteneur6 ul{
    color: rgb(255, 255, 255);
}


.conteneur6 li{
    list-style-type: none;
    color: rgb(196, 196, 196);
    margin-top: 10px;
    font-size: 0.8em;
}



.bloc_applistore{
    display: flex;
    margin-left: 4em;
    margin-bottom: 20px;
}

.bloc_applistore p{
    margin-right: 15px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.bloc_applistore #apple{
    width: 22%;
    height: 33px;
    margin-top: 8px;
}


.bloc_applistore #google{
    width: 27%;
    height: 50px;
}

.conteneur7{
    display: flex;
    flex-direction: column;
}


.conteneur7 p{
    margin-top: 3em;
    margin-left: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(196, 196, 196);
    font-size: 0.9em;
    text-align: center;
}


/* Responsive */


@media screen and (min-width: 720px){

    body{
        width: 100%;
    }

@media all and (min-width: 720px)
{

}
}




@media screen and (min-width: 1024px){

    body{
        width: 100%;
    }

@media all and (min-width: 1024px)
{
    /* annulation du burger */

.row{
    display: none;
}

.menu_header ul li{
    border-bottom: none;
}

/* header */


.menu_header{
    display: block;
    border-top: 1px solid #96bf0d;
}

.menu_header li:first-child{
    display: none;
}

.menu_header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.menu_header ul a{
    color: rgb(104, 104, 104);
}


.menu_header .agence_vert a{
    color: #96bf0d;
}

/* fin du header */ 


/* Début section */

/* Bloc recherche */
/* -------------------------------------------- */
.conteneur2{
    height: 79vh;
}


.bloc_search{
    width: 50%;
    height: 45%;
}


.bloc_search p{
    text-align: center;
    font-weight: bold;
    color: rgb(138, 136, 136);
}

#cadre_estimer img{
    width: 10%;
    margin-right: 2px;
    margin-top: 5px;
}


#cadre_estimer #cle{
    width: 3%;
    margin-top: 7px;
    margin-left: 9px;
}


#cadre_estimer #estimer{
    width: 25%;
    margin-right: 20px;
    margin-left: 14em;
}


#cadre_estimer #loyer{
    width: 20%;
    margin: 0;
}


.votre_bien{
    width: 25%;
}

.conteneur3{
    display: flex;
    flex-direction: row;
    margin-left: -6.5em;
}


.conteneur3 .video, .bien, .alerte_mail{
    width: 18%;
    margin-left: 18.5em;
    margin-top: 28px;
}

/* Fin bloc recherche */



/* Début du slide */


/* annonce 1 */

.conteneur4{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 45vh;
}

.conteneur4 .img_maison img{
    display: block;
    width: 40.7em;
    height: 100%;
}

.conteneur4 .prix_immo{
    top: -3.55em;
    left: 0;
}


.conteneur4 .prix_immo .prix{
    width: 20%;
}


.arrow-right {
    top: 1.25em;
}


.conteneur4 .prix_immo .euros{
    width: 40%;
    height: 5.8vh;
}

.band_blanche{
    width: 96.3%;
}

.text_gris1{
    top: -0.3vh;
}


.text_vert1{
    top: -2.5vh;
}


.band_selection1{
    top: 0.5px;
}


.band_selection1 p{
    width: 22%;
}

/* fin annonce 1 */

/* annonce 2 */

.conteneur5{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 45vh;
}

.conteneur5 .img_maison img{
    display: block;
    width: 40.7em;
    height: 100%;
}

.conteneur5 .prix_immo{
    top: -3.55em;
    left: 0;
}


.conteneur5 .prix_immo .prix{
    width: 20%;
}


.conteneur5 .prix_immo .euros{
    width: 40%;
    height: 5.8vh;
}

.text_gris2{
    top: -3vh;
}


.text_vert2{
    top: -5.5vh;
}


.band_selection2{
    top: 3.3em;
}


.band_selection2 p{
    width: 22%;
}


/* fin annonce 2 */



/* Fin du slide */


/* Fin section */



/* Début footer */

footer{
    height: 29em;
}


.conteneur6{
    display: flex;
    flex-direction: row;
}


.conteneur6 .par2{
    margin-top: 2.5em;
    margin-left: 3em;
}


.conteneur6 .logo_footer{
    margin-left: 8em;
}


.bloc_applistore{
    margin-left: 41em;
    margin-top: 2em;
}


.bloc_applistore #apple{
    width: 12%;
}


.bloc_applistore #google{
    width: 15%;
    height: 49px;
}


.conteneur7{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.conteneur7 p{
    margin-top: 3em;
    margin-left: 20px;
    color: rgb(196, 196, 196);
    font-size: 0.9em;
}

/* Fin footer */



/*Formulaire*/
.span{
    font-weight: bold;
}

.conteneur_connexion{
    display: flex;
    background: #f2f2f2;
    margin-bottom: 100px;
}


.connexion img{
    width: 3%;
}

.connexion h1{
    color: #96bf0d;
}

.parconnexion{
    color: #96bf0d;
    margin-top: 10px;
    margin-left: -51px;
}

.connexion{
    color: #004365;
    height: 100px;
    width: 50%;
    margin-left: 120px;
    padding-left: 55px;
    line-height: 20px;
}

.connexion #submit{
    background: #96bf0d;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

.connexion input{
    background: rgb(206, 205, 205);
    border-radius: 4px;
    border: 1px solid gray;
    margin-left: 5px;
    line-height: 20px;
}


.span2{
    background: #838282;
    border: 1px solid #838282;
    height: 50px;
    margin: 45px;
    margin-left: -100px;
}

.creation_compte{
    margin-left: 150px;
    color: #8a8a92;
}

.creation_compte button{
    background: #8a8a92;
    height: 30px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 1em;
    font-weight: bold;
}

/**/



/**/

}
}