.sm-col-1 { width: 8.33%; }
.sm-col-2 { width: 16.66%; }
.sm-col-3 { width: 25%;}
.sm-col-4 { width: 33.33%;}
.sm-col-5 { width: 41.66%;}
.sm-col-6 { width: 50%;}
.sm-col-7 { width: 58.33%;}
.sm-col-8 { width: 66.66%;}
.sm-col-9 { width: 75%;}
.sm-col-10 { width: 83.33%;}
.sm-col-11 { width: 91.66%;}
.sm-col-12 { width: 100%; }




body{
    background: rgb(255, 252, 246);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(138, 136, 136);
}


/* header */
.conteneur1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.nav_user li{
    list-style-type: none;
    display: inline;
    list-style: none;
    font-weight: 700;
    margin-right: 20px;
}


.nav_user .favoris{
    color: #0e71b4;
}


.nav_user .mon_compte a{
    color: #779b00;
}


.logo_header{
    width: 20%;
    flex-direction: row;
}

.logo_header img{
    width: 70%;
    margin: 10px;
}


.menu_header{
    text-align: center;
    border-top: 1px solid #96bf0d;
}

.menu_header li{
    margin: 3em;
    list-style-type: none;
    display: inline;
    list-style: none;
    font-weight: bold;
    color: rgb(104, 104, 104);
}

.menu_header .agence_rouge a{
    color: #96bf0d;
}

/* fin du header */ 




/* Début section */

/* Bloc recherche */

.conteneur2{
    background-image: url("../images/img_accueil_flou.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    margin-bottom: 10em;
    top: 100px;
    border: 1px solid red;
}

.conteneur2 img{
    width: 100%;
}


.bloc{
    display: flex;
    background: rgb(225, 225, 252);
    justify-content: space-around;
    border-radius: 0.5em 0.5em 0 0;
} 


.bloc p{
    font-size: 1.5em;
    height: 10px;
    line-height: 10px;
}

.bloc #rouge{
    color: #96bf0d;
    background: #96bf0d;
    margin-right: -4.95em;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 0 0.5em 0 0;
    width: 20%;
}

.bloc #rouge p{
    color: white;
}

.bloc h1{
    text-align: center;
}


.bloc_search{
    position: relative;
    background: white;
    width: 50%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    top: 25vh;
}


.bloc_search li{
    display: inline;
    margin: 5em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(138, 136, 136);
}


.bloc_search p{
    text-align: center;
    font-weight: bold;
    color: rgb(138, 136, 136);
}


.bloc_search #adresse_bien{
    display: block;
    width: 80%;
    margin-bottom: -4em;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 1px solid grey;
}



#cadre_estimer{
    display: flex;
    margin-top: 4em;
}


#cadre_estimer img{
    width: 10%;
    margin-right: 2px;
    margin-top: 5px;
}


#cadre_estimer #estimer{
    display: inline-block;
    background: rgb(56, 211, 190);
    width: 25%;
    height: 40px;
    margin-right: 20px;
    margin-left: 17em;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    line-height: 40px;
}


#cadre_estimer #loyer{
    background: none;
    border: none;
    font-weight: bold;
    color: rgb(138, 136, 136);
}




.votre_bien{
    position: relative;
    width: 25%;
    height: 15%;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
    background: #96bf0d;
    text-align: center;
    line-height: 39px;
    font-size: 1em;
}


.votre_bien h1{
    margin-bottom: 50px;
    text-decoration: white;
    color: white;
}


.bloc_search h1 a{
    color: white;
}


.bloc_search a:hover{
    background: rgb(139, 0, 0);
    border-radius: 0.2em;
    border: 1px solid  rgb(139, 0, 0);;
}


.conteneur3{
    display: flex;
    margin-top: 30vh;
}


.conteneur3 .video img{
    width: 10%;
    margin-top: -12px;
}


.conteneur3 .bien img{
    width: 10%;
    margin-top: -12px;
}


.conteneur3 .alerte_mail img{
    width: 10%;
    margin-top: -12px;
}


.conteneur3 .video, .bien, .alerte_mail{
    width: 18%;
    height: 5.4em;
    margin-left: 18.5em;
    margin-top: 28px;
    background: white;
    border-radius: 10px;
    font-size: 0.6em;
    text-align: center;
    line-height: 30px;
    color: rgb(104, 104, 104);

}


.conteneur4{
    margin-top: 70vh;
}


/* Fin bloc recherche */




/* Fin section */



/* Début footer */

footer{
    background: rgb(75, 75, 75);
    height: 24.5em;
}


.conteneur6{
    display: flex;
}


.conteneur6 div{
    width: 100%;
}


.conteneur6 .par1{
    width: 41%;
    margin-top: 2.5em;
}


.conteneur6 .par2{
    margin-top: 2.5em;
    margin-left: 3em;
}


.conteneur6 .logo_footer{
    width: 80%;
    margin-left: 8em;
}

.conteneur6 .logo_footer img{
    width: 45%;
    margin-left: 10em;
    margin-top: 3em;
}


.conteneur6 ul{
    color: rgb(255, 255, 255);
}


.conteneur6 li{
    list-style-type: none;
    color: rgb(196, 196, 196);
    margin-top: 10px;
    font-size: 0.8em;
}


.bloc_applistore{
    display: flex;
    margin-left: 41em;
    margin-top: 2em;
}


.bloc_applistore p{
    margin-right: 15px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}


.bloc_applistore #apple{
    width: 12%;
    height: 33px;
    margin-top: 8px;
}


.bloc_applistore #google{
    width: 15%;
    height: 49px;
}


.conteneur7{
    display: flex;
    justify-content: center;
}


.conteneur7 p{
    margin-top: 3em;
    margin-left: 20px;
    color: rgb(196, 196, 196);
    font-size: 0.9em;
}








/* Fin footer */

/*Formulaire*/
.span{
    font-weight: bold;
}

.conteneur_connexion{
    display: flex;
    background: #f2f2f2;
    margin-bottom: 100px;
}


.connexion img{
    width: 3%;
}

.connexion h1{
    color: #ff6123;
}

.parconnexion{
    color: #ff6123;
    margin-top: 10px;
    margin-left: -51px;
}

.connexion{
    color: #004365;
    height: 100px;
    width: 50%;
    margin-left: 120px;
    padding-left: 55px;
    line-height: 20px;
}

.connexion #submit{
    background: #ff572e;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

.connexion input{
    background: rgb(206, 205, 205);
    border-radius: 4px;
    border: 1px solid gray;
    margin-left: 5px;
    line-height: 20px;
}


.span2{
    background: #838282;
    border: 1px solid #838282;
    height: 50px;
    margin: 45px;
    margin-left: -100px;
}

.creation_compte{
    margin-left: 150px;
    color: #8a8a92;
}

.creation_compte button{
    background: #8a8a92;
    height: 30px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 1em;
    font-weight: bold;
}



/**/