.sm-col-1 { width: 8.33%; }
.sm-col-2 { width: 16.66%; }
.sm-col-3 { width: 25%;}
.sm-col-4 { width: 33.33%;}
.sm-col-5 { width: 41.66%;}
.sm-col-6 { width: 50%;}
.sm-col-7 { width: 58.33%;}
.sm-col-8 { width: 66.66%;}
.sm-col-9 { width: 75%;}
.sm-col-10 { width: 83.33%;}
.sm-col-11 { width: 91.66%;}
.sm-col-12 { width: 100%; }




body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}


/* header */
.conteneur1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.nav_user li{
    list-style-type: none;
    display: inline;
	list-style: none;
}

.logo_header{
    width: 20%;
    flex-direction: row;
}

.logo_header img{
    width: 100%;
}





.menu_header{
    text-align: center;
    border: 1px solid red;
}

.menu_header li{
    margin: 8.5em;
    list-style-type: none;
    display: inline;
    list-style: none;
}


.conteneur2 img{
    width: 100%;
}


/* fin du header */ 


/* Début section */

/* Bloc recherche */
.bloc_search{
    width: 50%;

    border: 1px solid green;
}



/* Fin bloc recherche */


.bloc li{
    list-style-type: none;
}

/* Fin section */



/* Début footer */

.conteneur6 li{
    list-style-type: none;
}



.conteneur7 li{
    list-style-type: none;
}



/* Fin footer */

/*Formulaire*/
.span{
    font-weight: bold;
}

.conteneur_connexion{
    display: flex;
    background: #f2f2f2;
    margin-bottom: 100px;
}


.connexion img{
    width: 3%;
}

.connexion h1{
    color: #ff6123;
}

.parconnexion{
    color: #ff6123;
    margin-top: 10px;
    margin-left: -51px;
}

.connexion{
    color: #004365;
    height: 100px;
    width: 50%;
    margin-left: 120px;
    padding-left: 55px;
    line-height: 20px;
}

.connexion #submit{
    background: #ff572e;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

.connexion input{
    background: rgb(206, 205, 205);
    border-radius: 4px;
    border: 1px solid gray;
    margin-left: 5px;
    line-height: 20px;
}


.span2{
    background: #838282;
    border: 1px solid #838282;
    height: 50px;
    margin: 45px;
    margin-left: -100px;
}

.creation_compte{
    margin-left: 150px;
    color: #8a8a92;
}

.creation_compte input{
    background: #8a8a92;
    height: 30px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 1em;
    font-weight: bold;
}



/**/